    .wrapp-page-content {
        .page-content {
            .banner-page {
                background-image: url('../images/about/index/slide-1.jpg');
                position: relative;
                background-position: 35% 0px;
            }
            .banner-index {
                position: relative;
                .slider-content {
                    margin: 270px 0 190px 100px;
                    .heading {
                        font-size: 52px;
                        font-weight: 700;
                        color: #fff;
                        line-height: 1;
                        letter-spacing: -0.2px;
                        margin: 0 0 0;
                    }
                    .sub-heading {
                        font-size: 16px;
                        color: #fff;
                    }
                    .form-slide {
                        margin: 45px 0 20px;
                        .button-change {}
                        .hero-search-form.style-1 {
                            max-width: 970px;
                            background: #fff;
                            .action-form {
                                display: flex;
                                height: 90px;
                                align-items: center;
                                .input-search {
                                    flex: 0 0 calc(100% - 670px);
                                    max-width: calc(100% - 670px);
                                    padding-left: 15px;
                                    padding-right: 0;
                                    input {
                                        border: none;
                                        border-bottom: 1px solid #d7d7d7;
                                        padding: 28px 0 24px;
                                        height: 52px;
                                        font-size: 14px;
                                        width: 100%;
                                        background-color: transparent;
                                        outline: medium;
                                    }
                                }
                                .selection {
                                    word-wrap: normal;
                                    -webkit-appearance: none;
                                    border: none;
                                    border-bottom: 1px solid #d7d7d7;
                                    width: 100%;
                                    padding: 0px 0 13px;
                                    outline: medium;
                                    font-size: 14px;
                                    color: #757575;
                                }
                                .item-select-location {
                                    flex: 0 0 260px;
                                    max-width: 260px;
                                    margin-top: 17px;
                                    padding-left: 15px;
                                }
                                .item-select-category {
                                    margin-top: 17px;
                                    padding-left: 15px;
                                    flex: 0 0 210px;
                                    max-width: 210px;
                                }
                                .submitbtn {
                                    flex: 0 0 195px;
                                    max-width: 195px;
                                    padding-left: 15px;
                                    button {
                                        padding: 14px 55px;
                                        border: none;
                                        border-radius: 3px;
                                        font-weight: bold;
                                        transition: all ease 0.35s;
                                        background: #002e5b;
                                        &:hover {
                                            background-color: #222;
                                        }
                                        a {
                                            color: #fff;
                                            &:hover {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .keywords {
                        span {
                            font-size: 14px;
                            color: #fff;
                            margin-right: 15px;
                            a {
                                font-size: 14px;
                                color: #fff;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
            .text-center {
                margin-top: 65px;
                margin-bottom: 12px;
                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: #002e5b;
                    line-height: 38px;
                }
                h2 {
                    font-size: 23px;
                    color: #242424;
                    margin: 0 0 0;
                    font-weight: 600;
                }
            }
            .pr9 {
                padding-right: 9px !important;
            }
            .pt18 {
                padding-top: 18px !important;
            }
            .section-explore-cities {
                background-color: #fafafa !important;
                .item-gallery {
                    &:hover {
                        .gallrey {
                            img {
                                transform: scale(1.15) rotate(0);
                                transition: all ease 0.35s;
                            }
                        }
                        .categorie {
                            background-color: #f41f51;
                            border: 1px solid #f41f51 !important;
                        }
                    }
                    .gallrey {
                        position: relative;
                        overflow: hidden;
                        img {
                            transition: all ease 0.35s;
                        }
                    }
                    .text-wrapp {
                        position: absolute;
                        top: 12%;
                        left: 11%;
                        .categorie {
                            font-size: 12px;
                            font-weight: 500;
                            text-transform: uppercase;
                            color: #fff;
                            padding: 6px 14px;
                            border: 1px solid #aab7c2;
                            border-radius: 20px;
                            display: inline-block;
                            margin: 0 0 5px;
                            transition: all 0.35s;
                        }
                        >h3>a {
                            font-size: 36px;
                            font-weight: 500;
                            color: #fff;
                            letter-spacing: -0.1px;
                            text-shadow: 0.5px 0.5px #000;
                        }
                    }
                }
                .cbr-space {
                    height: 90px;
                }
            }
            .section-featured-categories {
                .pb15 {
                    margin-bottom: 15px;
                }
                .t1 {
                    &:hover {
                        .gallrey {
                            img {
                                transform: scale(1.15) rotate(0);
                                transition: all ease 0.35s;
                            }
                            .cover-back {
                                opacity: 0.8;
                                z-index: 10;
                            }
                        }
                        .wrapp-text {
                            transform: translateY(-20%) translateX(5%);
                            opacity: 0;
                            transition: all ease 0.35s;
                        }
                        .hover-effect {
                            opacity: 1;
                            transform: translateY(-20%);
                            transition: all 0.35s;
                            z-index: 15;
                            cursor: pointer;
                            top: 45%;
                        }
                    }
                    .gallrey {
                        position: relative;
                        overflow: hidden;
                        img {
                            transition: all ease 0.35s;
                        }
                        .cover-back {
                            background: linear-gradient(to right, #B06AB3, #4568DC);
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            transition: all 0.3s;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                }
                .item-gallery {
                    .pb10 {
                        margin-bottom: 19px !important;
                    }
                    .wrapp-text {
                        display: flex;
                        position: absolute;
                        bottom: 8%;
                        align-items: center;
                        margin-left: 21px;
                        transition: all ease 0.35s;
                        .fa {
                            font-size: 32px;
                            color: #fff;
                        }
                        .text {
                            padding-left: 10px;
                            a {
                                font-size: 23px;
                                letter-spacing: -0.2px;
                                display: inline-block;
                                color: #fff;
                                margin: 0 0 2px;
                                font-weight: bold;
                            }
                            .categorie {
                                font-size: 12px;
                                color: #fff;
                                text-transform: uppercase;
                                margin: 0 0 0;
                            }
                        }
                    }
                    .hover-effect {
                        position: absolute;
                        top: 50%;
                        color: #fff;
                        font-size: 24px;
                        text-align: center;
                        left: 17%;
                        font-weight: bold;
                        opacity: 0;
                        transition: all ease 0.35s;
                    }
                }
                .action-gallery {
                    .galrey {
                        position: relative;
                        overflow: hidden;
                        img {
                            transition: all ease 0.35s;
                        }
                        .cover-back {
                            background: linear-gradient(to right, #B06AB3, #4568DC);
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            transition: all 0.3s;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                    &:hover {
                        .galrey {
                            img {
                                transform: scale(1.15) rotate(0);
                                transition: all ease 0.35s;
                            }
                            .cover-back {
                                opacity: 0.8;
                                z-index: 10;
                            }
                        }
                        .wrapp-text {
                            transform: translateY(-20%) translateX(5%);
                            opacity: 0;
                            transition: all ease 0.35s;
                        }
                        .hover-effect {
                            opacity: 1;
                            transform: translateY(-20%);
                            transition: all 0.35s;
                            z-index: 15;
                            cursor: pointer;
                            top: 39%;
                        }
                    }
                }
            }
            .section-video {
                margin-top: 90px;
                background-image: url('../images/about/index/parallax-1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                .text-wrap {
                    margin: 130px 0 130px 0;
                    padding: 0 0 0 16px;
                    border-left: 4px solid #fff;
                    .sub-tilte {
                        font-size: 14px;
                        color: #fff;
                        text-transform: uppercase;
                        margin: 0 0 0;
                    }
                    .title {
                        font-family: 'Playfair Display', serif;
                        font-size: 60px;
                        line-height: 72px;
                        font-weight: 700;
                        letter-spacing: -0.2px;
                        color: #fff;
                        max-width: 680px;
                        margin: 0 0 35px;
                    }
                    .popup-video {
                        display: flex;
                    }
                    .fa.fa-play-circle-o {
                        font-size: 50px;
                        color: #fff;
                    }
                    .text {
                        font-size: 14px;
                        line-height: 22px;
                        color: #fff;
                        letter-spacing: -0.2px;
                        padding-left: 10px;
                    }
                    .gallrey {
                        &:before {
                            position: absolute;
                            left: 0;
                            top: -105px;
                            width: 0;
                            height: 0;
                            border-top: 80px solid transparent;
                            border-right: 55px solid #6c98e1;
                            border-bottom: 65px solid transparent;
                            content: "";
                            transform: rotate(45deg);
                            z-index: 1;
                        }
                    }
                }
            }
            .section-recent-places {
                margin-bottom: 90px;
                .team-gallery {
                    overflow: hidden;
                    &:hover {
                        .gallrey {
                            img {
                                transform: scale(1.15) rotate(0);
                                transition: all ease 0.35s;
                            }
                            .cover-back {
                                opacity: 0.8;
                                z-index: 10;
                            }
                        }
                        .fa-heart-o,
                        .fa-search-plus {
                            color: #f41f51 !important;
                            ;
                        }
                        .favourite,
                        .view-more {
                            background-color: #fff !important;
                        }
                        .view-more:before {
                            opacity: 1 !important;
                            transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
                            transition: all ease 0.35s;
                            transform: translateX(10%) !important;
                        }
                    }
                    .gallrey {
                        position: relative;
                        transition: all ease 0.35s;
                        overflow: hidden;
                        img {
                            transition: all ease 0.35s;
                        }
                        .fa.fa-bolt {
                            position: absolute;
                            left: 1%;
                            z-index: 10;
                            font-size: 22px;
                            color: #fff;
                            transform: rotate(25deg);
                        }
                        &:before {
                            position: absolute;
                            left: 0;
                            top: -105px;
                            width: 0;
                            height: 0;
                            border-top: 80px solid transparent;
                            border-right: 55px solid #6c98e1;
                            border-bottom: 65px solid transparent;
                            content: "";
                            transform: rotate(45deg);
                            z-index: 1;
                        }
                    }
                    .meta-inner {
                        position: absolute;
                        top: 8%;
                        position: absolute;
                        left: 15%;
                        width: 100%;
                        .price {
                            font-size: 12px;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: #fff;
                            padding: 4px 14px;
                            border: 1px solid #eee;
                            border-radius: 20px;
                            display: inline-block;
                            margin: 0 0 5px;
                        }
                    }
                    .icon-wrap {
                        position: absolute;
                        top: 9%;
                        right: 9%;
                        .favourite,
                        .view-more {
                            width: 30px;
                            height: 30px;
                            line-height: 37px;
                            border-radius: 50%;
                            background-color: rgba(255, 255, 255, 0.2);
                            text-align: center;
                            transition: ease 0.35s;
                            margin-bottom: 10px;
                        }
                        .fa {
                            font-size: 20px;
                            margin-bottom: 12px;
                            color: #fff;
                        }
                        .fa-search-plus {
                            font-size: 15px !important;
                        }
                        .view-more:before {
                            position: absolute;
                            left: -92px;
                            top: 48%;
                            content: "Quick view";
                            font-size: 12px;
                            color: #d7d7d7;
                            padding: 0 10px;
                            background-color: #111;
                            border-radius: 3px;
                            transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
                            opacity: 0;
                        }
                    }
                    .wrap-box {
                        .text-wrap {
                            padding: 10px 15px 20px;
                            border: 1px solid #eee;
                            .thumb-logo {
                                width: 70px;
                                margin-right: 10px;
                                float: left;
                            }
                            .infor.clearfix {
                                margin-bottom: 10px;
                                overflow: hidden;
                                .title {
                                    font-size: 16px;
                                    font-weight: 700;
                                    letter-spacing: -0.2px;
                                    margin: 0 0 3px;
                                }
                                .address {
                                    line-height: 21px;
                                }
                                span {
                                    font-size: 12px;
                                    color: #757575;
                                    letter-spacing: -0.2px;
                                    position: relative;
                                    padding-left: 20px;
                                    font-weight: 500;
                                }
                            }
                            .tags {
                                .tag.deep-red-bg {
                                    background-color: #d4886a !important;
                                    padding: 6px 12px 8px;
                                    a {
                                        color: #fff;
                                    }
                                }
                                .rate {
                                    color: #002e5b;
                                    font-weight: 700;
                                    padding: 5px 11px;
                                    border: 1px solid #eee;
                                    span {
                                        font-size: 12px;
                                        color: #757575;
                                        letter-spacing: -0.2px;
                                        position: relative;
                                        font-weight: 500;
                                    }
                                }
                                .label-open {
                                    color: #002e5b;
                                    font-weight: 700;
                                    padding: 5px 11px;
                                    border: 1px solid #eee;
                                }
                                .price {
                                    color: #757575;
                                    font-weight: 500;
                                    padding: 5px 11px;
                                    border: 1px solid #eee;
                                }
                            }
                        }
                    }
                }
            }
            .gray-bg {
                background-color: #fafafa !important;
                .clearfix {
                    &:hover {
                        .icon-wrap {
                            text-shadow: 2px 2px 15px rgba(0, 46, 91, 0.2);
                            transform: rotateY(360deg);
                        }
                    }
                    .text-wrap {
                        cursor: pointer;
                        .icon-wrap {
                            color: #002e5b;
                            font-size: 60px;
                            line-height: 105px;
                            transition: all 0.6s cubic-bezier(0.680, 0, 0.265, 1.550);
                        }
                        .heading {
                            font-size: 16px;
                            font-weight: 700;
                            color: #4a4a4a;
                            text-transform: uppercase;
                            margin: 0 0 7px;
                            a {
                                color: #002e5b;
                            }
                        }
                        .desc {
                            line-height: 24px;
                            margin: 0 0 0;
                            >span {
                                font-size: 14px;
                                color: #4a4a4a;
                                font-weight: normal
                            }
                        }
                    }
                }
            }
        }
    }